html
    head    
        script(type='text/javascript' src="/js/jquery.js")        
    body
        form(action="/api/v1/login", method="post")
            | email : 
            input(type="text", name="email")
            br
            | pwd   :
            input(type="password", name="pwd" )
            br
            br
            button(type="submit") 登入
        button(onclick =`window.location='/api/v1/login_google'`) googleee登入   
        button(onclick =`window.location='/api/v1/login_fb'`) facebook登入          
       
        p=msg
        p 新客戶請先註冊!!!
        a(href="/register")
            |註冊

    
