html
    head
        script(type='text/javascript' src="/js/jquery.js")
        script(type='text/javascript' src="/js/index.js")
    body 
        p hello ni how 
        p=username 
        button(onclick ='get_user_data()') 用戶資料
        button(onclick ='add_Update_Table()') 修改資料
        button(onclick ='logout()') 登出
        br
        br
        div(class ='main')
            h1 do something!!!