html
    head    
        script(type='text/javascript' src="/js/jquery.js")
        script(type='text/javascript' src="/js/index.js")
    body(onload = 'onload()') 
        p ni how! wish a good day
        button(onclick ='get_user_data()') 用戶資料
        button(onclick ='add_Update_Table()') 修改資料
        button(onclick ='get_product_data()') 產品列表
        button(onclick ='get_order_data(true)') 訂單資料
        button(onclick ='logout()') 登出
        button(onclick ='test()') test
        br
        br
        div(class ='main')
           